<div class="breadcrumb"> 
     <% make_breadcrumb %> 
    <%= render_breadcrumbs %>
</div>
<p>Account Number is :<%= @bank_account.account_number %> </p>

<h4> Add Beneficiaries</h4>
<% form_for :beneficiary, :url => create_beneficiary_customer_path, :method => 'post' do |f| %>
  <%= f.error_messages%>
  <div class="form-group">

    <%= f.label :beneficiary_name,  "Enter beneficiary_name" %>
    <%= f.text_field :beneficiary_name %>

    <%= f.label :to_bank_account,  "Enter beneficiary account number" %>
    <%= f.text_field :to_bank_account %>
    <%= submit_tag " Add" %>

  </div>

<% end %>
 
 
 <div class="panel panel-default">
    <div class="panel-heading"><strong>Beneficiary Requests</strong></div>

<table class="table table-bordered table-hover">
    <% if @beneficiaries.empty? %>
    <tr><td>No Beneficiaries added </td></tr>
    <% else %>
    <tr>
    <th>Sl No</th>
    <th>Beneficiary added date</th>
    <th>Bank Account Number</th>
    <th>Beneficiary Name</th>
    <th> Status</th>
  </tr>
   <% @beneficiaries.each_with_index do |ben,i| %>
   <tr style="color:#000;">
<td><%=h (i+1) %></td>
<td><%=h ben.created_at.strftime("%d-%m-%Y") %></td>
<td><%=h ben.to_bank_account.account_number %></td>
<td><%=h ben.beneficiary_name %></td>
<td><% if ben.status == "pending" %> 
    Pending for Approval 
    <% else %>  
      <%=  ben.status.upcase %>
    <% end %> 
</td>

  </tr>
<% end %>
  <% end %>
</table>
    
</div>