<h3> Edit Profile</h3>
<% form_for @customer, :html => { :multipart => true } do |f| %>
  <%= f.error_messages%>
  <div class="form-group">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
            
  </div>    
  <div class="form-group">
    <%= f.label :middle_name %><br/>
    <%= f.text_field :middle_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </div>   
  <div class="form-group">

<%= f.label :date_of_birth, "Date of Birth" %><br />
    <%= f.date_select :date_of_birth, :start_year=>1900 %> 
      
      </div>
<div class="form-group">
<%= f.label :email %><br/>
<%= f.text_field :email, :id=>"email" %>
</div>
       <div class="form-group">

<%= f.label :Nationality %><br/>
<%= f.select:nationality, options_for_select(Nationality.all.map {|n| [n.name]}),{:include_blank => "Choose Nationality"}%>
                </div>   
      <div class="form-group">
<%= f.label :address %><br/>
<%= f.text_field :address %>
      </div>
<div class="form-group">
<%= f.label :contact_number %><br/>
<%= f.text_field :contact_number %>
</div>
<div class="form-group">
     <%= f.label :photo, "Upload Profile photo" %>
     <%= f.file_field :photo %>
     File attached: <%= @customer.photo_file_name %> 
    
  </div>
<div class="form-group">
     <%= f.label :Signature, "Upload Signature" %>
     <%= f.file_field :signature %>
         File attached: <%=  @customer.signature_file_name %> 

  </div>
<%= f.submit "Update Profile", :class => "btn btn-large btn-primary" %>
<% end %>


